*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}

.header .firstpage{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/hero-cover3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: scroll;
}
.firstpage{
    padding: 50px;
}
.header .navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    color: #fff;
}
.navbar ul li {
    display: inline;
    font-size: 20px;
    padding: 0 20px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar .navbutton > button{
    cursor: pointer;
    color: #fff;
    border: none;
}
.navbar .navbutton .enroll{
    background-color: #23a6f0;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
}
.navbar .navbutton .login{
    background-color: transparent;
    font-size: 20px;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 35%;
    z-index: 1;
}
.hero-text h2{
font-size: 50px;
font-weight: bolder;
}
.hero-text p{
    font-size: 15px;
    margin-top: 50px;
}

.hero-buttons > button{
border-radius: 50px;
padding: 15px 30px;
color: #fff;
font-weight: bolder;
cursor: pointer;
margin: 60px 10px 0;
}

.hero-buttons .get-quote{
border: 2px solid #23a6f0;
background-color: #23a6f0;
}
.hero-buttons .learn{
    border: 2px solid #fff;
    background-color: transparent;
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    font-family: cursive;
}

.peace-mind, .set-life, .satisfaction{
    border: solid 1px;
    z-index: 2;
    margin-top: -25%;
    flex-basis: 20%;
    text-align: left;
    padding: 40px 10px 40px 40px;
    flex-wrap: wrap;  
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(194, 191, 191, 0.137); 
}

.peace-mind, .set-life, .satisfaction, h3{
    font-size: 25px;
    text-align: center;
    
}
.peace-mind, .set-life, .satisfaction, p{
font-size: 15px;
padding: 5px;

}

.satisfaction{
    background-color: #23a6f0;
    color: #fff;
}
.satisfaction, .fal{
    color: #fff;
}

.peace-mind, .set-life{
    background-color: #fff;
}

.background{
    background-color: rgb(233, 231, 231);
    height: 200px;
}
.secondsection{
    gap: 100px;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.secondsection p{
font-size: 12px;
color: gray;
}
.secondsection h3{
    color: rgb(41, 40, 40);
    font-weight: 500;
    font-size: 22px;
}
.comments{
    background-color: rgba(226, 221, 221, 0.404);
}
.industry{
    align-items: center;
    justify-content: center;
    padding: 70px, 50px;
    flex-direction: row;
    text-align: center;
    margin-bottom: 130px;
    
}
.industry h3{
    font-size: 40px;
    color: rgb(31, 25, 25);
}
.industry p{
    font-size: 15px;
    color: gray;
}
.users{
    display: flex; 
    gap: 50px;
    justify-content: space-around;
}
.user1, .user2, .user3{
    padding: 50px 30px;
    border-width: 8px;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    color: gray;
    border: solid 1px rgba(155, 153, 153, 0.904);
}
.user1, .user2, .user3, p{
padding: 50px;
color: gray;
}


.logos{
    justify-content: space-evenly;
    text-align: center;
    padding: 100px 0; 
    display: flex;
}
.subscribe{
    margin: 150px;
    margin-top: -10px;
}
.signage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 20px;
    background: linear-gradient(to right, #05078f, rgb(192, 7, 106));
}
.subscribe p{
    color: #fff;
    font-size:xx-large;
}
.subscribe input{
    border: none;
    width: 350px;
    font-size: medium;
    padding-left: 10px;
    height: 50px;
    margin-top: 30px;
}
.subscribe button{
background-color: #23a6f0;
padding: 14px;
color: #fff;
font-size:medium;
border-radius: 5px;
margin-top: 30px;
margin: 0%;
margin-left: -5px;
}
.free{
    justify-content: center;
    text-align: center;
    display: flex;
}
.column{
    border: solid 1px #23a6f0;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;

}
.column1{
    color: #fff;
    border: solid 1px #23a6f0;
    border-radius: 5px;
    background-color: rgba(1, 1, 36, 0.986);
}
.column, .column1, h3{
text-align: center;
font-size: 30px;
}
.price{
    color: #23a6f0;
    font-size: 32px;
    padding: 0%;
}
.fal{
    margin: 3px;
    font-size: 25px;
    background-color: green;
    border-radius: 100%;
    border: none;
}
.fas{
    color: grey;
    font-size: 25px;
    margin: 3px;
}
.column, .column1, p{
    padding: 4%;
}
.free button{
    background-color: #23a6f0;
    padding: 15px;
    color: #fff;
    font-size:medium;
    margin-top: 40px;
    width: 200px;
    border: none;
    border-radius: 4px;
}
.branching{
    background-color: rgba(1, 1, 36, 0.986);
    height: 500px;
}
.fifthsection{
    display: flex;
    margin: 100px;
    justify-content: space-between;
}
.branch{
    color: #fff;
    text-align: left;
    font-family: cursive;
    padding: 50px;
}
.branch p{
    font-size: 10px;
}
.log-in{
    display: flex;
    margin-top: -400px;
    background-color: #fff;
    justify-content: center;
    gap: 0;
}
