@media only screen and (min-width: 480px){
    body{
        font-size: 20px;
        color: #23a6f0;
        background-color: #fff;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}

.header .firstpage{
    height: 150vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/hero-cover3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: scroll;
}
.firstpage{
    padding: 20px;
}
.header .navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0px;
    color: #fff;
}
.navbar ul li {
    display: inline;
    font-size: 17px;
    padding: 0 15px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar .navbutton > .enroll{
    cursor: pointer;
    color: #fff;
    border: none;
    width: 90%;
    /* font-size: 10px; */
}
.enroll i{
    margin-left: 20px;
    font-size: 17px;
}
.navbar, .navbutton{
    display: flex;
    font-size: 18px;
}
.navbar .navbutton > .enroll{
    background-color: #23a6f0;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.navbar .navbutton .login{
    background-color: transparent;
    font-size: 18px;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 35%;
    z-index: 1;
}
.hero-text h2{
    /* padding-top: -20px; */
font-size: 50px;
font-weight: bolder;
}
.hero-text p{
    font-size: 15px;
    margin-top: 50px;
    color: #fff;
}

.hero-buttons > .get-quote, .learn{
border-radius: 30px;
padding: 15px 20px;
color: #fff;
font-weight: bolder;
cursor: pointer;
margin: 60px 10px 0;
width: 40%;
}

.hero-buttons .get-quote{
border: 2px solid #23a6f0;
background-color: #23a6f0;
}
.hero-buttons .learn{
    border: 2px solid #fff;
    background-color: transparent;
}
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    font-family: cursive;
}

.peace-mind, .set-life, .satisfaction{
    border: solid 1px;
    z-index: 2;
    margin-top: -30%;
    flex-basis: 20%;
    text-align: left;
    padding: 40px 10px 40px 40px;
    flex-wrap: wrap;  
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(194, 191, 191, 0.137); 
}

.peace-mind, .set-life, .satisfaction, h3{
    /* font-size: 90px; */
    text-align: center;
    
}
.peace-mind, .set-life, .satisfaction, p{
font-size: 12px;
padding: 5px;

}

.satisfaction{
    background-color: #23a6f0;
    color: #fff;
}
.satisfaction, .fal{
    color: #fff;
}

.peace-mind, .set-life{
    background-color: #fff;
}

.background{
    background-color: rgb(233, 231, 231);
    height: 200px;
}
.secondsection{
    height: 60vh;
    gap: 60px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.secondsection p{
font-size: 12px;
color: gray;
}
.secondsection h3{
    color: rgb(41, 40, 40);
    font-weight: 500;
    font-size: 22px;
}
.comments{
    height: 190vh;
    background-color: rgba(226, 221, 221, 0.404);
}
.industry{
    align-items: center;
    justify-content: center;
    padding: 70px, 50px;
    flex-direction: row;
    text-align: center;
    margin-bottom: 120px;
    
}
.industry h3{
    padding-top: 20px;
    font-size: 40px;
    color: rgb(31, 25, 25);
}
.industry p{
    font-size: 15px;
    color: gray;
}
.users{
    margin-top: -80px;
    margin-right: 20px;
    margin-left: 30px;
    display: flex; 
    gap: 50px;
    justify-content: space-around;
}
.user1, .user2, .user3{
    padding: 50px 30px;
    border-width: 8px;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    color: gray;
    border: solid 1px rgba(155, 153, 153, 0.904);
}
.user1, .user2, .user3, p{
padding: 50px;
color: gray;
}


.logos{
    /* height: 40vh; */
    justify-content: space-evenly;
    text-align: center;
    padding: 90px 0; 
    display: flex;
}
.subscribe{
    margin: 100px;
    margin-top: -10px;
}
.signage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    /* padding: 10px; */
    background: linear-gradient(to right, #05078f, rgb(192, 7, 106));
}
.subscribe p{
    color: #fff;
    font-size:xx-large;
}
.subscribe input{
    border: none;
    width: 65%;
    font-size: medium;
    padding-left: 10px;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px 0 0px 5px;
    padding: 17px;
}
.subscribe button{
background-color: #23a6f0;
padding: 16px;
color: #fff;
font-size:medium;
border-radius: 0 5px 5px 0;
margin-top: 30px;
margin: 0%;
margin-left: -5px;
width: 30%;
border: none;
}
.free{
    margin-top: -80px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.column{
    border: solid 1px #23a6f0;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;

}
.column1{
    color: #fff;
    border: solid 1px #23a6f0;
    border-radius: 5px;
    background-color: rgba(1, 1, 36, 0.986);
}
.column, .column1, h3{
text-align: center;
font-size: 30px;
}
.price{
    color: #23a6f0;
    font-size: 32px;
    padding: 0%;
}
.fal{
    margin: 3px;
    font-size: 25px;
    border-radius: 100%;
    border: none;
}
.fas{
    color: grey;
    font-size: 25px;
    margin: 3px;
}
.column, .column1, p{
    padding: 4%;
}
.free button{
    background-color: #23a6f0;
    padding: 15px;
    color: #fff;
    font-size:medium;
    margin-top: 40px;
    width: 200px;
    border: none;
    border-radius: 4px;
}
.branching{
    padding-top: 20px;
    height: 100vh;
    background-color: rgba(1, 1, 36, 0.986);
    /* padding: 100px 0 400px; */
    z-index: 1;
}
.fifthsection{
    display: flex;
    gap: 0;
    justify-content: space-evenly;
}
.branch{
    color: #fff;
    text-align: left;
    font-family: cursive;
    padding: 50px;
    flex-basis: 46em;
}
.branch p{
    font-size: 12px;
}
.lastsection{
    color: rgb(51, 50, 50);
}

.sectionk{
    align-items: center;
}
.log-in{
    display: flex;
    background-color: #fff;
    gap: 0;
    border-radius: 3px;
    width: 50%;
    margin: -300px 350px;
    
}
.new-member{
    margin: 40px;
}
input, [type=text]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 10px 0;
    color: rgb(87, 84, 84);
}
select{
    background-color: rgb(243, 240, 240);
    color: rgb(163, 158, 158);
    border-radius: 3px;
    width: 100%;
    padding: 12px 20px;
    border: none;
}
button{
    text-align: center;
    text-decoration: none;
    background-color: #23a6f0;
    padding: 10px 30px;
    width: 100%;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 10px 0;
}
.consultation{
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
    padding: 20px;

}
.footer{
    height: 10vh;
}
.container{
    background-color: rgba(226, 221, 221, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;  
}
.container h4{
    font-size: 20px;
    color: rgb(51, 50, 50)
}
.company-info, .legal, .features, .resources, .get-touch{
    margin: 20px;
}

.container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container ul a{
    color: gray;
    text-decoration: none;
    display: block;
    font-size: 12px;
    padding: 8px 10px;

}
.get-touch i{
    margin-right: 10px;
}
.copyright{
    /* background-color: rgba(226, 221, 221, 0.404); */
    /* height: 5px; */
    display: flex;
    justify-content: space-between;
    /* margin: 5px; */
    /* padding: 0px; */
}
.figma p{
    font-size: 12px;
    /* padding-bottom: -20px; */
}
.social i{
    margin: 5px;
    margin-top: 10px;
}